*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond' , serif ;
}
body{
    background-color: black;
    color: aliceblue;
}
nav{
    height: 80px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact{
    margin-left: auto;
    background: transparent;
    border: 1px solid #444;
    color: aliceblue;
    padding: 10px  22px;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
}
.hero{
    min-height: calc(100vh - 80px);
    display :flex;
    align-items: center;
    padding: 0px  80px;
    position: relative;
}
.role{
    font-size: 15px;
    letter-spacing: 3px;
    opacity: 0.6;
}

.hero-text{
    width :50%;
    z-index: 2;
}
.hero-text h1{
    font-size: 80px;
    font-weight: bold;
    padding: 20px  0px;
    line-height: 1;

}
.hero-text p {
    max-width: 420px;
    font-size: 20px;
    opacity: 0.7;
    line-height: 1.7;
    margin-bottom: 30px;
}
.cursor{
    opacity: 0;
}
.hero-img{
    width : 50%;
    position: absolute;
    right: 15%;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

.aboutMe{
background: rgb(38, 37, 37);
    border: 2px solid #444;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}
.hero-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    opacity: 0.35;
    filter: grayscale(100%);
}
.name{
    opacity: 0;
    transform: translateZ(0);
    animation: fadeUp 5s ease-out forwards;
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateZ(3);
    }
    to{
        opacity: 1;
        transform: translateX(0) ;
    }
}
.footer{
    
    text-align: center;
    font-size: 13px;
    font-color: white;
    height: 11px
}